@font-face {
    font-family: myFirstFont;
    src: url(Norse-Bold.otf);
    font-weight: bold;
}

body {
    display: flex;
    width: 90%; /* Can add margins of 10% on left and right side by adding margin: 0 auto below*/
    margin: 0 auto;
    background-color: rgb(37, 34, 34);
}

img {
    width: 150px;
    height: 175px;
}

.img-container {
    display: flex;
    width: 35%;
    min-height: 1000px;
    background-size: cover;
    background-image: url("left-img.jpg");
    background-repeat: no-repeat;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: myFirstFont;
    font-size: 4rem;
    color: white;
    display: flex;
    width: 100%;
    height: 20%;
    margin: 35% auto;
    justify-content: center;
    align-items: center;
}

.full-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 1.57rem;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.form-container {
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 0;
    box-shadow: 0 4px 4px rgb(182, 176, 176);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.spacing {
    margin-top: 10%;
}

.spacing2 {
    margin-top: 5%;
}

input, label {
    display: flex;
    margin-top: 1%;
    font-size: 0.9rem;
    border-radius: 4px;
}

label {
    letter-spacing: 1px;
}

input {
    border: 2px solid rgb(235, 233, 233);
    width: 275px;
    padding: 7px;
    font-size: 1.1rem;
}

input:focus { 
    border: 2px solid blue;
    outline: none;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 1px rgb(202, 202, 202);
}

form {
    margin-left: 5%;
    margin-right: 5%;
}

button {
    margin-top: 5%;
    font-size: 1.2rem;
    width: 40%;
    padding: 2.2%;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #596D48;
}

a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}